section.page.home
    h2 Welcome Tic-Tac-Toe written in AmpersandJS

    div.row
        div.col-md-4
            #left-player
        div#game-board-container.col-md-4
            div.toolbar
                span.pull-right
                    a.btn.btn-link(href='/past-games') Past Games
                    button.btn.btn-small.btn-default(data-hook='new-game')
                        i.fa.fa-refresh
                        = ' '
                        | New Game
            canvas#game-board
        div.col-md-4
            #right-player


