section.page.past-games
    h2 Past games

    table.table.table-striped.table-condensed
        thead
            tr
                th.left-side-user
                    span.pull-right
                        i.fa.fa-circle-o
                        = ' '
                        | Left-side player
                th.right-side-user
                    span
                    i.fa.fa-times
                    = ' '
                    | Right-side player
        tbody(data-hook='past-games-list')
            tr(data-hook='collection-is-empty')
                td.text-center(colspan='2')
                    h4 No winners yet

