li.person.list-group-item.container
    span.label.player-name(data-hook="left-user-name left-user-win-class")
    span
    = ' '
    | vs
    = ' '
    span.label.player-name(data-hook="right-user-name right-user-win-class")
