body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Tic-Tac-Toe
      ul.nav.navbar-nav
        li
          a(href="/") home
        li
          a(href="/past-games") past games
  .container
    main(data-hook="page-container")
    footer
        .text-center &copy; Alexey Pedyashev #{ (new Date).getFullYear() }
