.page.home {
    .toolbar {
        margin-bottom: 10px;
        overflow: hidden;
    }

    #game-board-container {
        margin-bottom: 20px;
        canvas {
            padding: 0;
            margin: auto;
            display: block;
            width: 360px;
        }
    }

    .player-panel {
        min-height: 403px;

        .symbol-icon {
            line-height: 22px;
        }
    }

    .winner-icon {
        color: #ffd900;
    }
}
